<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/dc45d01f-0f7c-497b-88eb-50e590e8f993/resourcegroups/Technostore2/providers/Microsoft.Web/sites/TechnostoreServer123456789</ResourceId>
    <ResourceGroup>Technostore2</ResourceGroup>
    <ApiResourceId>/subscriptions/dc45d01f-0f7c-497b-88eb-50e590e8f993/resourceGroups/Technostore2/providers/Microsoft.ApiManagement/service/TechnostoreServerapi1/apis/Technostore</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://technostoreserver123456789.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>a23be1ac-e14b-42fc-8fb4-a7749f60051b</ProjectGuid>
    <MSDeployServiceURL>technostoreserver123456789.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TechnostoreServer123456789</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TechnostoreServer123456789</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>