<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form [formGroup]='registerForm' (ngSubmit)='register()'>
              <p class="h4 mb-4 text-light">Register</p>
              <input type="text"  class="form-control mb-4" formControlName="username" placeholder="username">
              <div *ngIf="username.touched && username.errors?.required" class="alert alert-danger">
                This field is required!
              </div>
              <input type="email"  class="form-control mb-4" formControlName="email" placeholder="email">
              <div *ngIf="email.touched && email.errors?.required" class="alert alert-danger">
                This field is required!
              </div>
              <!-- Password -->
              <input type="password"  class="form-control mb-4" formControlName="password" placeholder="password">
              <div *ngIf="password.touched && password.errors?.required" class="alert alert-danger">
                This field is required!
            </div>
            <input type="text"  class="form-control mb-4" formControlName="name" placeholder="name">
              <div *ngIf="name.touched && name.errors?.required" class="alert alert-danger">
                This field is required!
              </div>
              <input type="text"  class="form-control mb-4" formControlName="country" placeholder="country">
              <div *ngIf="country.touched && country.errors?.required" class="alert alert-danger">
                This field is required!
              </div>
              <!-- Password -->
              <input type="text"  class="form-control mb-4" formControlName="city" placeholder="city">
              <div *ngIf="city.touched && city.errors?.required" class="alert alert-danger">
                This field is required!
              </div>
              <input type="text"  class="form-control mb-4" formControlName="address" placeholder="address">
              <div *ngIf="address.touched && address.errors?.required" class="alert alert-danger">
                This field is required!
              </div>

              <img [src]="avatar.value">
              <input type="url"  class="form-control mb-4" formControlName="avatar" placeholder="avatar">
              <div *ngIf="avatar.touched && avatar.errors?.required" class="alert alert-danger">
                This field is required!
              </div>
              <!-- Sign in button -->
              <button type="submit" class="btn btn-info btn-block my-4" type="submit">Register</button>
            
              <!-- Register -->
              <p class="text-light">You are a member?
                  <a routerLink="/login" class="text-light decoration-none ml-2 h5"> Sign in</a>
              </p>
              </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>

