<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li *ngFor="let category of categories">
          <a class="dropdown-item" routerLink="/categories/{{category.id}}">{{category.name}}</a>
        </li>
        </ul>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated">
        <a class="nav-link" routerLink="/products/create">Create product</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link" routerLink="/categories/create">Create category</a>
      </li>
    </ul>
    <ng-template [ngIf]="isAuthenticated" [ngIfElse]="elseBlock">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link btn btn-link" routerLink="/user/details">{{userName}}</a></li>
        <li class="nav-item"><a class="nav-link btn btn-link" routerLink="/orders/" ><mat-icon [matBadge]="products" matBadgeColor="warn" routerLink="/orders/">shopping_cart</mat-icon></a></li>
        <li class="nav-item"><button class="nav-link btn btn-link " (click)="Logout()">Logout</button></li>
        
    </ul>
    </ng-template>
    <ng-template #elseBlock>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link btn btn-link" routerLink="/login">Login</a></li>
      <li class="nav-item"><a class="nav-link btn btn-link"  routerLink="/register">Register</a></li>
    </ul>
    </ng-template>
  </div>
</nav>
