<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <form [formGroup]="orderForm" id="order" (ngSubmit)='finalize()'>
              
                <p class="h4 mb-4 text-light">Edit Product</p>
  
                
                <input type="text" class="form-control mb-4" formControlName="firstName" placeholder="first name">
                <div *ngIf="firstName.touched && firstName.errors?.required" class="alert alert-danger">
                  This field is required!
                </div>
                <input type="text" class="form-control mb-4" formControlName="lastName" placeholder="last name">
                <div *ngIf="lastName.touched && lastName.errors?.required" class="alert alert-danger">
                  This field is required!
                </div>
                <input type="tel" class="form-control mb-4" formControlName="phoneNumber" placeholder="phone number">
                <div *ngIf="phoneNumber.touched && phoneNumber.errors?.required" class="alert alert-danger">
                  This field is required!
                </div>
                <input type="email" class="form-control mb-4" formControlName="email" placeholder="email">
                <div *ngIf="email.touched && email.errors?.required" class="alert alert-danger">
                  This field is required!
                </div>
                <input type="text" class="form-control mb-4" formControlName="address" placeholder="address">
                <div *ngIf="address.touched && address.errors?.required" class="alert alert-danger">
                  This field is required!
                </div>
                <input type="text" class="form-control mb-4" formControlName="city" placeholder="city">
                <div *ngIf="city.touched && city.errors?.required" class="alert alert-danger">
                  This field is required!
                </div>
                <input type="text" class="form-control mb-4" formControlName="country" placeholder="country">
                <div *ngIf="country.touched && country.errors?.required" class="alert alert-danger">
                  This field is required!
                </div>
                <input type="number" class="form-control mb-4" formControlName="postalCode" placeholder="postal code">
                <div *ngIf="postalCode.touched && postalCode.errors?.required" class="alert alert-danger">
                  This field is required!
                </div>

               <mat-card>
                <mat-list role="list">
                    <mat-list-item id="orderProducts" *ngFor="let product of products" class="border m-2" role="listitem">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-2"><img src={{product.productImageUrl}}></div>
                                <div class="col-lg-4">{{product.modelName}}</div>
                                <div class="col-lg-3">{{product.price}} $</div>
                                <div class="col-lg-3"><button class="btn btn-link text-light" (click)="removeProduct(product.id)"><i class="fas fa-times"></i></button></div>
                            </div>
                        </div>
                    </mat-list-item>

                  </mat-list>

                  <h1 class="m-3">Total Price: {{totalPrice}} $</h1>
               </mat-card>
                
                <button type="submit" class="btn btn-info btn-block my-4" type="submit">Finalize</button>
            
              </form>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>