<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3" *ngFor="let category of categories">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{category.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="category.categoryPicUrl" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a routerLink="/categories/{{category.id}}" class="btn btn-primary">See products</a>
          <button mat-button *ngIf="isAdmin" class="btn btn-warning" (click)="editCat(category.id)">Edit</button>
          <button mat-button *ngIf="isAdmin" class="btn btn-danger" (click)="deleteCat(category.id)">Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>