<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 text-center">
            <h2 class="text-light">{{category.name}}</h2>
            <br>
            <img [src]="category.categoryPicUrl">
        </div>
        <div class="col-lg-3"></div>
      <div class="col-lg-3" *ngFor="let product of category.products">
        <mat-card class="example-card">
          <mat-card-header>
            <img mat-card-image [src]="product.productImageUrl" alt="Product picture">
          </mat-card-header>
          <mat-card-content class="text-center">
            <mat-card-title>{{product.modelName}}</mat-card-title>
            <h2>{{product.price}}</h2>
          </mat-card-content>
          <mat-card-actions class="m-4">
            <a routerLink="/products/{{product.id}}" class="btn btn-primary m-2">See details</a>
            <button  *ngIf="isAdmin" class="btn btn-warning m-2" (click)="editProduct(product.id)">Edit</button>
            <button  *ngIf="isAdmin" class="btn btn-danger m-2" (click)="deleteProduct(product.id)">Delete</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>